VITE_SUPABASE_URL="https://lcvmjmhuyoqueljipgak.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxjdm1qbWh1eW9xdWVsamlwZ2FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NzA1NTAsImV4cCI6MjA5NzE0NjU1MH0.3Z6baFXqRzqThIRppc14g0NeXRGzJOfv9aC78x0pxio"
VITE_SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxjdm1qbWh1eW9xdWVsamlwZ2FrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU3MDU1MCwiZXhwIjoyMDk3MTQ2NTUwfQ.r-eCsxR9U8Hq4fK-bZfpKXHk0NwdyLZaURwmFNDqavo"
